<div class="container">
  <form [formGroup]="todoForm" (ngSubmit)="formSubmit()">
    <legend>A faire...</legend>

    <div class="form-group row">
      <div class="col-md-6 pull-right">
        <label for="title">Titre : </label>
      </div>
      <div class="col-md-6">
        <input
          class="form-control"
          type="text"
          formControlName="title"
          id="title"
        >
      </div>
      <div class="alert alert-warning"
        *ngIf="title.invalid && title.touched">
        <span *ngIf="title.errors?.required">
          Le titre de la todo ne peut pas être vide !
        </span>
        <span *ngIf="title.hasError('minLength')">
          Le minimum de caractère requis n'est pas atteint.
        </span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 pull-right">
        <label for="debut">Début : </label>
      </div>
      <div class="col-md-6">
        <input
          class="form-control"
          type="date"
          formControlName="debut"
          id="debut"
        >
      </div>
      <div class="alert alert-warning"
        *ngIf="debut.invalid && debut.touched">
          La date de début ne peut pas être vide
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 pull-right">
        <label for="fin">Fin : </label>
      </div>
      <div class="col-md-6">
        <input
          class="form-control"
          type="date"
          formControlName="fin"
          id="fin"
        >
      </div>
      <div class="alert alert-warning"
        *ngIf="fin.invalid && fin.touched">
          La date de fin ne peut pas être vide
      </div>
    </div>

    <div class="row">
      <button
        type="submit"
        [disabled]="todoForm.status === 'INVALID'"
        [ngClass]="{
          'inactive': todoForm.status === 'INVALID',
          'active': todoForm.status !== 'INVALID',
          'btn': true,
          'btn-outline-primary': true
        }">
          {{ buttonContent }}
      </button>
    </div>
  </form>

  <!-- Mode debug
  <p>Formulaire : {{ todoForm.value | json }} : {{ todoForm.status | json }}</p>
   Fin mode debug -->
</div>

<div class="container">
  <app-todolist (loadTodo)="receiveTodo($event)"></app-todolist>
</div>

